html,
body {
  height: 100%;
}

.div-principal {
  min-height: 100%;
  position: relative;
  background-color: #232327;
  color: white;
}
button {
  cursor: pointer;
}
.logo {
  width: 200px;
}

@media (min-width: 768px) {
  .sair {
    right: 70px;
    position: absolute;
  }
}

header {
  top: 0;
  width: 100%;
}

main {
  height: 100%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
