#menu {
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  padding: 10px;
  position: absolute;
  top: 260px;
  width: 380px;
  z-index: 1;
}
#menu input[type="text"] {
  width: 100%;
}

.playlist_options {
  cursor: pointer;
  position: absolute;
  width: 100px;
  display: none;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px gray;
  top: 260px;
  right: 0;
  z-index: 9999;
}

.playlist_options ul {
  color: black;
  background-color: rgb(68, 66, 66);
  list-style: none;
  margin: 0;
  padding: 0;
}

.playlist_options li {
  text-align: center;
  width: 100%;
  color: white;
}

.list_playlists {
  padding-bottom: 12rem !important;
}
