{% extends 'base.html' %} {% block style_of_page %}
<style>
  .card {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border: 0;
  }

  .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card i {
    font-size: 100px;
    height: 0;
    padding-top: 30%;
  }
</style>
<link rel="stylesheet" href="../static/css/home.css" />
{% endblock %} {% block title %}TuneCache{% endblock %} {% block content %}
<main class="container my-5">
  <section class="playlists_em_destaque">
    <h2 class="mb-4">Playlists em destaque</h2>
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="" alt="Capa da Playlist" />
        </div>
      </div>
    </div>
  </section>
  <section class="recentes my-5">
    <h2 class="mb-4">Músicas recentes</h2>
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card"></div>
      </div>
    </div>
  </section>
  <section class="artistas_em_destaque">
    <h2 class="mb-4">Artistas em destaque</h2>
    <div class="row">
      <div class="col-md-2 mb-4">
        <div class="card rounded-circle">
          <img src="" alt="Icone Artista" />
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
