{% extends 'base.html' %} {% block style_of_page %}{% endblock %} {% block title
%}Cantores{% endblock %} {% block content %}

<div class="container">
  <h1 class="mt-5 d-flex">Cantores</h1>
  <div class="row" id="singers_list">
    {% for singer in user.singers %}
    <div class="col-md-3 mb-3">
      <a href="/cantores/{{ singer.name }}" class="text-light">
        <div class="card bg-dark text-light">
          <img
            src="https://via.placeholder.com/350x150"
            class="card-img-top h-100"
          />
          <h5 class="card-title ml-3">
            {{singer.name}}
            <a class="text-light">
              <span
                class="bi bi-three-dots-vertical float-right"
                onclick="menu()"
                style="cursor: pointer"
              ></span>
              <div id="menu" style="display: none">
                <li>Excluir Cantor</li>
              </div>
            </a>
          </h5>
        </div>
      </a>
    </div>
    {% endfor%}
  </div>
  {% endblock %}
</div>
