{% extends 'base.html' %} {% block style_of_page %}
<link rel="stylesheet" href="../static/css/all_songs.css" />

<script src="https://cdn.jsdelivr.net/npm/howler@2.2.3/dist/howler.min.js"></script>
<script>
  Howler.autoUnlock = false;
</script>
{% endblock %} {% block title %}{{playlist_title}}{% endblock %} {% block
content %}
<div class="container-fluid mb-5">
  <div class="row mb-5">
    <div class="col mb-5">
      <h4
        align="center"
        class="mt-4 titulo_playlist"
        data-value="{{ playlist_id }}"
      >
        {{playlist_title}}
        {% if singer == yes %}
        <i
          id="plus_circle_button"
          title="Adicionar Músicas"
          class="bi bi-plus-circle ml-5"
        ></i>
        {% endif %}
        <i
          id="shuffle_musics"
          title="ordem aleatória"
          class="bi bi-shuffle ml-5"
        ></i>
      </h4>
      <div class="div-musics">
        <ul class="list-group list-group-flush" id="musics">
          <li
            class="d-flex flex-row list-group-item"
            style="font-size: large; font-weight: bold"
            data-target="audio_lista"
          >
            <div style="flex: 3">
              <span id="title"
                >Título
                <span
                  class="bi bi-arrow-down-up"
                  id="arrow_title"
                  style="font-size: larger"
                ></span
              ></span>
            </div>
          </li>
          <span id="sortable">
            {% for audio in songs_list %}
            <li
              class="audio_lista{{ audio.id }} d-flex flex-row list-group-item "
              data-target="audio_lista"
            >
              <span
                class="bi bi-list handle"
              >
              </span>
              <span class="ml-4 mr-3">
                <img
                  src="{{audio.thumb}}"
                  alt="{{audio.title}}"
                  height="40px"
                  width="40px"
                />
              </span>
              <span class="title_singer">
                <span
                  id="title_song{{ audio.id }}"
                  class="title_songs"
                >
                  {{ audio.title }}
                </span>
                <br />
                {{ audio.author }}                
              </span>
              </span>
              <source
                id="song{{ audio.id }}"
                class="songs"
                src="../static/users/{{ user.id }}/songs/{{ audio.nome_na_pasta }}"
                data-info="{{ audio.title }}|{{ audio.author }}|{{audio.thumb}}"
              />
              <button type="button" class="music_button close" >
                <span
                  aria-hidden="true"
                  class="bi bi-three-dots-vertical"
                ></span>
              </button>

              <div class="music_options">
                <ul>
                  <li class="edit_audio" data-target="{{audio.id}}">Editar</li>
                  <li class="delete_audio">Excluir</li>
                </ul>
              </div>
            </li>
            {% endfor %}
          </span>
        </ul>
      </div>
    </div>
  </div>
  <div id="menu" class="bg-dark">
    <div>
      <div id="menu_to_add_musics">
        <h5>Adicionar Música de:</h5>
        {% if playlist_title != 'Todas as músicas' %}

        <label class="from_url">
          <input
            type="radio"
            name="database_url"
            value="from_url"
            class="ml-5 from_url"
            checked
          />URL</label
        >

        <label class="from_database"
          ><input
            type="radio"
            name="database_url"
            value="from_database"
            class="ml-5 from_database"
          />Playlists</label
        >
        {% endif %}
      <ul id="data_from_url">
        <li>
          <label for="url">URL:</label>
          <input
            type="text"
            placeholder="Digite a Url da Música ou Playlist"
            class="form-control"
            id="url"
            name="url"
          />
        </li>

        <li>
          <label for="titulo">Título:</label>
          <input
            type="text"
            placeholder="Digite o Titulo da Música ou Playlist"
            class="form-control"
            id="titulo"
            name="titulo"
          />
        </li>

        <li>
          <label for="autor">Autor:</label>
          <input
            type="text"
            placeholder="Nome do cantor (deixar em branco se for playlist)"
            class="form-control"
            id="autor"
            name="autor"
          />
        </li>
        <button type="submit" id="add_music" class="btn btn-primary">
          Adicionar
        </button>
      </ul>
    </div>
      {% if playlist_title != 'Todas as músicas' %}
      <div id="data_from_database">
        <div class=" scrollable">
        {% for audio in user.audios if audio not in songs_list %}
        <div class="list-group">
          <label class="list-group-item bg-dark">
            <input type="checkbox" value="{{ audio.id }}" /> {{audio.title}}
          </label>
        </div>
        {% endfor %}
      </div>
        <button
          type="submit"
          class="btn btn-primary"
          id="add_music_from_database"
        >
          Adicionar
        </button>
      </div>
      {% endif %}
    </div>
  </div>
  <section id="controls" class="flex-row">
    <div
      class="play_prev_next d-flex justify-content-start align-items-center flex-grow-1"
    >
      <i id="prev-control" class="bi bi-skip-start-fill mr-3"></i>
      <i id="play-control" class="bi bi-play-fill"></i>
      <i id="next-control" class="bi bi-skip-end-fill ml-3"></i>
    </div>
    <div
      class="duration_music d-flex justify-content-end align-items-center mx-5"      
    >
      <span id="current-duration" class="mr-1">00:00</span>/
      <span id="total-duration" class="ml-1">00:00</span>
    </div>
    <div class="musica-atual-container">
      <span id="musica_atual"></span>
    </div>
    <div
      class="volume d-flex justify-content-end align-items-center flex-grow-1"
    >
      <i id="vol-icon" class="bi bi-volume-up-fill"></i>
      <input
        id="volume"
        type="range"
        min="0"
        max="100"
        step="0.01"
        value="100"
      />
    </div>
    <input
      id="progressbar"
      type="range"
      min="0"
      max="100"
      step="0.1"
      class="w-100 d-md-block"
      value="0"
    />
  </section>
</div>

{% endblock %} {% block scripts %}

<script src="../static/js/player.js" type="module"></script>
<script src="../static/js/musics_page.js" type="module"></script>


<script type="module">
  if ('serviceWorker' in navigator) {    
   // estamos verificando aqui se o navegador suporta a API do service worker 
window.addEventListener('load', function() { 
    navigator.serviceWorker.register('../static/js/sw.js').then(function(registration) { 
      // O registro foi bem-sucedido       
      console.log('O registro do Service Worker foi bem-sucedido com escopo: ', registration.scope); 
    }, function(err) { 
      // falha no registro :( 
      console. log('Falha no registro do ServiceWorker: ', err); 
    }); 
  }); 
}
</script>
  
{% endblock %}
