{% extends 'base.html' %} {% block style_of_page %}
<link rel="stylesheet" href="../static/css/all_songs.css" />
{% endblock %} {% block title %}{{playlist_title}}{% endblock %} {% block
content %}
<div class="container-fluid mb-5">
  <div class="row mb-5">
    <div class="col mb-5">
      <h4 align="center" class="mt-4">
        {{playlist_title}}
        <i
          id="add_musicas"
          title="Adicionar Músicas"
          class="bi bi-plus-circle ml-5"
          style="font-size: 30px; display: none"
        ></i>
        <i
          id="shuffle_musics"
          title="ordem aleatória"
          class="bi bi-shuffle ml-5"
          style="font-size: 30px"
        ></i>
      </h4>
      <div class="d-flex flex-wrap justify-content-center">
        <ul class="list-group list-group-flush" id="musics">
          <li
            class="d-flex flex-row list-group-item"
            style="font-size: large; font-weight: bold"
            data-target="audio_lista"
          >
            <div style="flex: 3">
              <span id="title"
                >Título
                <span
                  class="bi bi-arrow-down-up"
                  id="arrow_title"
                  style="font-size: larger"
                ></span
              ></span>
            </div>
            <div style="flex: 1">
              <span id="singer"
                >Cantor
                <span
                  class="bi bi-arrow-down-up"
                  id="arrow_singer"
                  style="font-size: larger"
                ></span
              ></span>
            </div>
          </li>
          {% for audio in songs_list %}
          <li
            id="{{audio.id}}"
            class="audio_lista{{ audio.id }} d-flex flex-row list-group-item"
            data-target="audio_lista"
          >
            <span id="title_song{{ audio.id }}" style="flex: 3">
              {{ audio.title }}
            </span>
            <span
              id="author_song{{ audio.id }}"
              style="margin-left: 50px; flex: 1"
            >
              {{ audio.author }}
            </span>
            <audio
              id="song{{ audio.id }}"
              class="songs"
              src="../static/users/{{ user.id }}/songs/{{ audio.nome_na_pasta }}"
              data-info="{{ audio.title }}|{{ audio.author }}|{{audio.thumb}}"
            ></audio>
            <button type="button" class="music_button close">
              <span
                aria-hidden="true"
                class="bi bi-three-dots-vertical"
                style="color: white"
              ></span>
            </button>

            <div class="music_options">
              <ul>
                <li class="edit_audio" data-target="{{audio.id}}">Editar</li>
                <li class="delete_audio">Excluir</li>
              </ul>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div id="menu" style="display: none" class="bg-dark">
    <div>
      <div class="playlists">
        <h5>Adicionar Música de:</h5>
        <input
          type="radio"
          name="database_url"
          id="from_url"
          class="ml-5"
          checked
        />
        <label for="from_url">URL</label>

        <input
          type="radio"
          name="database_url"
          id="from_database"
          class="ml-5"
        />
        <label for="from_database">Playlists</label>
      </div>
      <ul>
        <li>
          <label for="url">URL:</label>
          <input
            type="text"
            placeholder="Digite a Url da Música ou Playlist"
            class="form-control"
            id="url"
            name="url"
          />
        </li>

        <li>
          <label for="titulo">Título:</label>
          <input
            type="text"
            placeholder="Digite o Titulo da Música ou Playlist"
            class="form-control"
            id="titulo"
            name="titulo"
          />
        </li>

        <li>
          <label for="autor">Autor:</label>
          <input
            type="text"
            placeholder="Nome do cantor (pode deixar em branco se for playlist)"
            class="form-control"
            id="autor"
            name="autor"
          />
        </li>
        <button
          type="submit"
          class="btn btn-primary"
          onclick="addData(document.getElementById('url').value, document.getElementById('titulo').value, document.getElementById('autor').value)"
        >
          Adicionar
        </button>
      </ul>
    </div>
  </div>
  <section id="controls" class="flex-row" style="display: none">
    <div
      class="play_prev_next d-flex justify-content-start align-items-center flex-grow-1"
    >
      <i id="prev-control" class="bi bi-skip-start-fill"></i>
      <i id="play-control" class="bi bi-play-fill"></i>
      <i id="next-control" class="bi bi-skip-end-fill"></i>
    </div>
    <div
      class="duration_music d-flex justify-content-end align-items-center mx-3"
      style="font-size: 12px"
    >
      <span id="current-duration" class="mr-1">00:00</span>/
      <span id="total-duration" class="ml-1">00:00</span>
    </div>
    <div class="musica-atual-container">
      <span id="musica_atual"></span>
    </div>
    <div
      class="volume d-flex justify-content-end align-items-center flex-grow-1"
    >
      <i id="vol-icon" class="bi bi-volume-up-fill"></i>
      <input
        id="volume"
        type="range"
        min="0"
        max="100"
        step="0.01"
        value="100"
      />
    </div>
    <input
      id="progressbar"
      type="range"
      min="0"
      max="0"
      step="1"
      class="w-100 d-md-block"
    />
  </section>
</div>
<script src="../static/js/player.js"></script>
{% endblock %}
